---
import type { CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { title, date, body, tags } = post.data;
---

<article
  class="group relative p-6 md:p-8 bg-white dark:bg-[#1A2632] rounded-lg
  shadow-[4px_4px_0px_0px_rgba(0,0,0,0.1)] dark:shadow-[4px_4px_0px_0px_rgba(245,230,200,0.1)]
  border-2 border-[#111A22] dark:border-[#F5E6C8]
  transition-all duration-300 ease-in-out
  hover:translate-x-[-4px] hover:translate-y-[-4px]
  hover:shadow-[8px_8px_0px_0px_rgba(0,0,0,0.1)]
  dark:hover:shadow-[8px_8px_0px_0px_rgba(245,230,200,0.1)]
  w-full max-w-2xl mx-auto"
>
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-3xl font-medium font-display tracking-tight">
      {title}
    </h2>
    <time
      datetime={date.toISOString()}
      class="text-sm font-mono text-gray-600 dark:text-gray-400"
    >
      {
        date.toLocaleDateString(undefined, {
          dateStyle: "long",
          timeZone: "UTC",
        })
      }
    </time>
  </div>

  <p class="prose dark:prose-invert prose-lg">
    {body}
  </p>
  <ul class="flex gap-2 mt-4">
    {
      tags.map((tag) => (
        <li class="inline-block px-2 py-1 text-xs font-semibold bg-teal-300 dark:bg-[#F4B860] dark:text-text rounded-lg tracking-wider border-2 border-black">
          {tag}
        </li>
      ))
    }
  </ul>
</article>
