
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Archivo';
    src: url('/fonts/Archivo-VariableFont_wdth\,wght.ttf') format('truetype');
    font-display: fallback;
  }
  :root {
    --radius: 0.5rem
  }
}

/* html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.dark body {
  background-color: #18181b;
  color: #fff;
}

.dark header {
  background-color: #0a0a0a;
}

.dark footer {
  background-color: #0a0a0a;

} */

