---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="flex justify-center items-center min-h-[50vh]">
    <h2 class="text-4xl">Blog - Coming Soon!</h2>
  </div>
</MainLayout>
