---
import { getCollection } from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";

import PostCard from "@/components/posts/PostCard.astro";

const posts = await getCollection("posts");
---

<MainLayout>
  <div class="mt-20">
    <ul>
      {
        posts.slice(0, 3).map((post) => (
          <li>
            <PostCard post={post} />
          </li>
        ))
      }
    </ul>
  </div>
</MainLayout>
