---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <div class="grid grid-cols-2 gap-4 min-h-screen">
    <div class="border-r-4 border-border">
      <p>Stuff Here</p>
    </div>
    <div>
      <p>Stuff Here</p>
    </div>
  </div>
</MainLayout>
