---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <header
    class="flex justify-between items-center py-3 px-24 border-b-4 border-black"
  >
    <h1 class="text-5xl font-semibold p-2">Brad Johnson</h1>
    <nav>
      <ul class="flex text-lg uppercase">
        <li>
          <a
            href="#"
            class="hover:bg-[#7DF9FF] transition-all duration-300 px-4 py-2 rounded-md"
            >Stuff</a
          >
        </li>
        <li>
          <a
            href="#"
            class="hover:bg-[#7DF9FF] transition-all duration-300 px-4 py-2 rounded-md"
            >Resume</a
          >
        </li>
        <li>
          <a
            href="#"
            class="hover:bg-[#7DF9FF] transition-all duration-300 px-4 py-2 rounded-md"
            >Contact</a
          >
        </li>
      </ul>
    </nav>
  </header>
</MainLayout>
