---
import MainLayout from '../layouts/MainLayout.astro';
import ProjectCard from '@/components/ProjectCard.astro';
---

<MainLayout>
  <!-- <h1>Projects</h1> -->
  <div class="grid grid-cols-3 gap-4 mt-6 px-8">
    <ProjectCard
      title="A blog CMS made with Laravel and Filament"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, sapiente totam iste enim a animi."
      image="https://res.cloudinary.com/brad-dev/image/upload/v1730733589/syyge67hvedt0hzg4iph.png"
      image_alt="Screenshot of the blog CMS"
      link="https://github.com/brad-jonson/laravel-filament-blog"
      button_text="View on GitHub"
    />
  </div>
</MainLayout>
