---
import MainLayout from '@/layouts/MainLayout.astro';
// import ResumeComponent from '@/components/Resume';
---

<MainLayout>
  <!-- <ResumeComponent client:load /> -->
  <p class="text-5xl font-semibold">Coming Soon</p>
</MainLayout>
