---

---

<header class="border-b-4 border-border bg-[#DFE5F2]">
  <nav class="max-w-7xl mx-auto px-4 py-3">
    <ul class="flex flex-wrap justify-center text-lg md:text-2xl gap-2">
      <li>
        <a
          href="/"
          class="inline-block transition-all duration-200 px-2 md:px-3 py-1.5 rounded-base border-2 border-transparent hover:border-black hover:bg-yellow-300"
        >
          Home
        </a>
      </li>
      <li>
        <a
          href="/projects"
          class="inline-block transition-all duration-200 px-2 md:px-3 py-1.5 rounded-base border-2 border-transparent hover:border-black hover:bg-yellow-300"
        >
          Projects
        </a>
      </li>
      <li>
        <a
          href="/blog"
          class="inline-block transition-all duration-200 px-2 md:px-3 py-1.5 rounded-base border-2 border-transparent hover:border-black hover:bg-yellow-300"
        >
          Blog
        </a>
      </li>
    </ul>
  </nav>
</header>
