---

---

<header class="border-b-4 border-border bg-[#DFE5F2]">
  <nav class="max-w-7xl mx-auto px-4 py-3">
    <ul class="flex flex-wrap justify-center text-lg md:text-2xl gap-2">
      <li>
        <a
          href="/"
          class="inline-block hover:bg-main transition-all duration-200 px-2 md:px-3 py-1.5 rounded-base"
        >
          Home
        </a>
      </li>
      <li>
        <a
          href="/projects"
          class="inline-block hover:bg-main transition-all duration-200 px-2 md:px-3 py-1.5 rounded-base"
        >
          Projects
        </a>
      </li>
      <li>
        <a
          href="/resume"
          class="inline-block hover:bg-main transition-all duration-200 px-2 md:px-3 py-1.5 rounded-base"
        >
          Resume
        </a>
      </li>
      <li>
        <a
          href="#"
          class="inline-block hover:bg-main transition-all duration-200 px-2 md:px-3 py-1.5 rounded-base"
        >
          Contact
        </a>
      </li>
    </ul>
  </nav>
</header>
