---
import { Button } from '@/components/ui/button';
interface Props {
  title: string;
  link: string;
  icon: string;
  alt: string;
}

const { title, link, icon } = Astro.props;
---

<aside>
  <Button className="uppercase text-lg font-semibold bg-[#A3E636]">
    <a href={link} target="_blank" class="flex items-center gap-2">
      <img src={icon} alt={title} class="w-6 h-6" />
      {title}
    </a>
  </Button>
</aside>
