---
import Analytics from '@vercel/analytics/astro';
import '@/styles/globals.css';
import { ViewTransitions } from 'astro:transitions';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Brad Johnson</title>
    <meta
      name="description"
      content="Senior Customer Success Manager sharing customer experience insights and coding projects. Explore my professional journey, development portfolio, and resume."
    />
    <ViewTransitions />
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-LMP5VP7HQ5"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-LMP5VP7HQ5');
    </script>
    <script
      defer
      data-domain="gymcalc.app"
      src="https://plausible.io/js/script.js"></script>
  </head>

  <body class="font-sans min-h-screen bg-[#E2E4DD] flex flex-col">
    <Header />
    <main class="flex-1">
      <slot />
      <Analytics />
    </main>
    <Footer />
  </body>
</html>
