---
import '@fontsource/darker-grotesque';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Brad Johnson</title>
  </head>

  <body class="font-sans bg-[#FFF2E8] h-screen">
    <header class="">
      <h1 class="text-6xl font-bold">Brad Johnson</h1>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
