---
import '@/styles/globals.css';
import { ViewTransitions } from 'astro:transitions';
import Header from '@/components/Header.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Brad Johnson</title>
    <ViewTransitions />
  </head>

  <body class="font-sans h-screen bg-bg">
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
